body {
	font-family: Frutiger, Arial, Helvetica, sans-serif;
	background-color: pink;
}
/* MENU */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E5E5E5;
	border-radius: 3px;
}

a  {
	text-decoration: none;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: #696969;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

#menuLogout {
	float: right;
	padding: 14px 16px;
}

.menu li {
	cursor: pointer;
}

.menu a:hover {
	background-color: #CDCDCD;
	color: black;
}

/* FIELDSETS */

#loginFieldset, #registerFieldset, #createProjectFieldset {
	border: 0;
	width: 400px;
	margin: auto;
}

#overviewProjectFieldset {
	border: 0;
	width: 600px;
	margin: auto;
}
/* INPUT FIELDS */

#inputUsername {
	margin-left: 11.4%;
	margin-bottom: 4.5%;
}

#inputPassword {
	margin-left: 12%;
}

#inputName {
	margin-left: 19%;
	margin-bottom: 4.5%;
}

#inputLastname {
	margin-left: 11.2%;
	margin-bottom: 4.5%;
}

#inputConfirmPassword {
	margin-left: 12%;
}

#inputEmail {
	margin-left: 18.2%;
	margin-top: 4.5%;
}

#inputProjectName {
	margin-left: 18%;
}

#inputReleaseDate {
	margin-left: 17.7%;
	margin-top: 2.5%;
}

#inputDescription {
	margin-left: 21.7%;
	margin-top: 2.5%;
}

/* LABLES */

labelConfirmPassword {
	margin-top: 2.1%;
}

#labelEmail {
	margin-top: -1.5%;
}

/* TITLE */

#titleRegister {
	margin-left: 45%;
}

#loginTitle {
	margin-left: 40%;
}

#titleOverviewProjects {
	margin-left: 30%;
}

#titleCreateProject {
	margin-left: 30%;
}

/* BUTTONS */
#submitButtonRegister {
	margin-left: 44.3%;
}

#submitButtonLogin {
	margin-left: 61%;
	margin-top: 2.5%;
}

#submitButtonCreateProject {
	margin-left: 61.5%;
	margin-top: 2.5%;
}


/* TABLE */
table {
	font-family: arial, sans-serif;
	width: 100%;
}

td, th {
	text-align: left;
	padding-right: 25px;
	padding-bottom: 10px;
}