body {
	background-color: pink;
}

/* Fieldsets */
#loginFieldset, #registerFieldset, #createProjectFieldset{
	border: 0;
	width: 400px;
	margin: auto;
}

#overviewProjectFieldset {
	border: 0;
	width: 600px;
	margin: auto;
}
/* input fields */

#inputUsername {
	margin-left: 9.5%;
	margin-bottom: 4.5%;
}

#inputPassword {
	margin-left: 11%;
}


#inputName {
	margin-left: 19%;
	margin-bottom: 4.5%;
}

#inputLastname {
	margin-left: 9%;
	margin-bottom: 4.5%;
}

#inputConfirmPassword {
	margin-left: 11%;
}

#inputEmail {
	margin-left: 18%;
	margin-top: 4.5%;
}

#inputProjectName {
	margin-left: 18%;
}

#inputReleaseDate {
	margin-left: 18.4%;	
	margin-top: 2.5%;
}

#inputDescription {
	margin-left: 21.5%;
	margin-top: 2.5%;
}

/* labels */
labelConfirmPassword {
	margin-top: 2.1%;
}

#labelEmail {
	margin-top: -1.5%;
}

/* title */

#titleRegister {
	margin-left: 45%;
}

#loginTitle {
	margin-left: 40%;
}

#titleOverviewProjects {
	margin-left: 30%;
}

#titleCreateProject {
	margin-left: 30%;
}

/* Buttons */
#submitButtonRegister {
	margin-left: 46.5%;
}

#submitButtonLogin {
	margin-left: 63%;
	margin-top: 2.5%;
}

#submitButtonCreateProject {
	margin-left: 61.5%;
	margin-top: 2.5%;
}

/* Table */
table {
	font-family: arial, sans-serif;
	width: 100%;
}

td, th {
	text-align: left;
	padding-right: 25px;
	padding-bottom: 10px; 
}